// Variables
@import 'variables';

// Bootstrap
@import "~bootswatch/dist/litera/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/litera/bootswatch";

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.navbar-brand{
    font-style: italic;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #e0e0e0;

    .container {
        padding-right: 15px;
        padding-left: 15px;

        p {
            margin: 19px 0;
            color: #000000;

            a {
                color: inherit;
            }
        }
    }
}

a{
    color: inherit;
    &:hover{
        text-decoration: none;
    }
}
.posts-index-title{
    border-left: 3px solid $blue;
    padding-left: 10px;
}

@import "post_content";

img{
    max-width: 100%;
}

.card-footer{
    font-size: 12px;
}
